.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/output/*
!vignettes/output/.gitkeep
*~
*.out
*.Rout
R/summarize_sessions.R
inst/doc
tests/results_notInPackage
tests/test_notInPackage_HCP_sub.R
tests/temp*
vignette_data/100307/*
vignettes/100307/*
