.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/output/*
!vignettes/output/.gitkeep
*~
*.out
*.Rout
R/summarize_sessions.R
inst/doc
tests/results_notInPackage
tests/test_notInPackage_HCP_sub.R
tests/temp*
vignette_data/100307/*
vignette_data/100206/*
vignette_data/100408/*
vignette_data/100610/*
vignette_data/101006/*
vignettes/100307/*
vignette_data/session2/tfMRI_EMOTION_RL_Atlas_MSMAll.dtseries.nii
vignette_data/session1/Archive.zip
vignette_data/session1/EVs/EMOTION_Stats.csv
vignette_data/session1/EVs/Sync.txt
vignette_data/session1/tfMRI_EMOTION_LR_Atlas_MSMAll.dtseries.nii
vignette_data/session2/EVs/EMOTION_Stats.csv
vignette_data/session2/EVs/Sync.txt
vignette_data/vignette_data.R
/vignettes/vignette_cache
