.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*~
*.out
*.Rout
R/summarize_sessions.R
inst/doc
vignettes/simulated-EM.Rmd
vignettes/.DS_Store
BayesfMRI 1.9 test.R
BayesfMRI To-Do List.gdoc
R/BayesGLM_cifti_check.R
tests/data
